<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fluxo de Pagamento</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <script>
    async function handleReviewSubmit(){
      const spinner = document.getElementById('payment-spinner');
      const paymentText = document.getElementById('payment-text');
      
      paymentText.innerText = 'Efetuando Compra...';
      spinner.style.display = 'inline-flex';
    }
  </script>
  <body>
    {{> navbar}}

    <div class="container-xxl">
      <div class="row">
        <div
          class="col-xs-12 col-md-12 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2"
        >
          <div class="row">
            <div class="col-12">
              <div class="stepper">
                <div class="stepper-item">
                  <div
                    class="stepper-icon {{stepper.step1.status}}"
                  >{{{stepper.step1.label}}}</div>
                  <span class="stepper-label">Identificação</span>
                </div>
                <div class="stepper-item">
                  <div
                    class="stepper-icon {{stepper.step2.status}}"
                  >{{{stepper.step2.label}}}</div>
                  <span class="stepper-label">Endereço</span>
                </div>
                <div class="stepper-item">
                  <div
                    class="stepper-icon {{stepper.step3.status}}"
                  >{{{stepper.step3.label}}}</div>
                  <span class="stepper-label">Pagamento</span>
                </div>
                <div class="stepper-item">
                  <div
                    class="stepper-icon {{stepper.step4.status}}"
                  >{{{stepper.step4.label}}}</div>
                  <span class="stepper-label">Compra Efetuada</span>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="alert alert-warning">
                Não salvamos seus dados. Eles são utilizados e administrados por uma plataforma de pagamento segura.
              </div>
            </div>

            <div class="col">
              <div class="row flex-column-reverse flex-md-row">
                {{#if reviewView}}
                <div class="col">
                  <form action="/checkout/confirmPayment" method="post">
                      <div class="row">
                        {{{body}}}
                        <div class="col-xs-12 col-md-5 pb-3 pb-md-0">
                          <div class="box">
                            <aside>
                              <h3>Pedido</h3>
                              <div>
                                <div class="order-item d-flex justify-content-between">
                                  <span class="order-item-name">{{item.name}}</span>
                                  <span class="order-item-price">{{item.price}}</span>
                                </div>
                                <hr />
                                <div class="order-total d-flex justify-content-between">
                                  <span class="order-total-title">Total</span>
                                  <span class="order-total-price">{{item.price}}</span>
                                </div>
                              </div>
                
                              <div class="d-grid pt-5">
                                <button class="btn btn-primary" onclick="handleReviewSubmit()">
                                  <div id="payment-spinner" style="width: 1rem; height: 1rem; border-width: 0.18rem; display: none;" class="spinner-border me-2" role="status">
                                  </div>
                                  <span id="payment-text">
                                    Confirmar Compra
                                  </span>
                                </button>
                              </div>
                            </aside>
                          </div>
                        </div>
                      </div>
                    </form>
                </div>
                  {{else}}
                  {{{body}}}
                  <div class="col-xs-12 col-md-5 pb-3 pb-md-0">
                    <div class="box">
                      <aside>
                        <h3>Pedido</h3>
                        <div>
                          <div class="order-item d-flex justify-content-between">
                            <span class="order-item-name">{{item.name}}</span>
                            <span class="order-item-price">{{item.price}}</span>
                          </div>
                          <hr />
                          <div class="order-total d-flex justify-content-between">
                            <span class="order-total-title">Total</span>
                            <span class="order-total-price">{{item.price}}</span>
                          </div>
                        </div>
                      </aside>
                    </div>
                  </div>
                  {{/if}}
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="row mt-5 text-center">
        <div class="col offset-md-2">
          <div class="secure-space d-flex flex-row gap-2 justify-content-center align-items-center">
            <img src="/imgs/hotpass_logo.svg" alt="JustUs Logo" height="32"> |&nbsp;&nbsp;
            <i class="bi bi-shield-fill-check"></i>
            <span>Ambiente Seguro</span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>