<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkout - Identificação</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <script>
    async function handleReviewSubmit(){
      const spinner = document.getElementById('payment-spinner');
      const paymentText = document.getElementById('payment-text');
      
      paymentText.innerText = 'Efetuando Compra...';
      spinner.style.display = 'inline-flex';

      const card = document.querySelector('input[name="cardsRadio"]:checked').value;

      const requestBody = JSON.stringify({cardId: card});

      await fetch('{{dynamicURL}}/checkout/confirmPayment', {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        mode: "cors",
        body: requestBody
      }).then(response => {
        if(response.status === 200){
          window.location.replace('{{dynamicURL}}/checkout/success');
        }
      }).catch(err => {
        console.log(err)
      });
    }
  </script>
  <body>
    {{> navbar}}

    <div class="container-xxl">
      <div class="row">
        <div
          class="col-xs-12 col-md-12 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2"
        >
          <div class="row">
            <div class="col-12">
              <div class="stepper">
                <div class="stepper-item">
                  <div
                    class="stepper-icon {{stepper.step1.status}}"
                  >{{{stepper.step1.label}}}</div>
                  <span class="stepper-label">Identificação</span>
                </div>
                <div class="stepper-item">
                  <div
                    class="stepper-icon {{stepper.step2.status}}"
                  >{{{stepper.step2.label}}}</div>
                  <span class="stepper-label">Endereço</span>
                </div>
                <div class="stepper-item">
                  <div
                    class="stepper-icon {{stepper.step3.status}}"
                  >{{{stepper.step3.label}}}</div>
                  <span class="stepper-label">Pagamento</span>
                </div>
                <div class="stepper-item">
                  <div
                    class="stepper-icon {{stepper.step4.status}}"
                  >{{{stepper.step4.label}}}</div>
                  <span class="stepper-label">Revisão</span>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="alert alert-warning">
                Os dados aqui solicitados são utilizados pelas plataformas
                financeiras e estão seguro com elas.
              </div>
            </div>

            <div class="col">
              <div class="row flex-column-reverse flex-md-row">

                {{{body}}}

                <div class="col-xs-12 col-md-5 pb-3 pb-md-0">
                  <div class="box">
                    <aside>
                      <h3>Pedido</h3>
                      <div>
                        <div class="order-item d-flex justify-content-between">
                          <span class="order-item-name">{{item.name}}</span>
                          <span class="order-item-price">{{item.price}}</span>
                        </div>
                        <hr />
                        <div class="order-total d-flex justify-content-between">
                          <span class="order-total-title">Total</span>
                          <span class="order-total-price">{{item.price}}</span>
                        </div>
                      </div>

                      {{#if customerExists}}
                          <div class="d-grid pt-5">
                            <button class="btn btn-primary" onclick="handleReviewSubmit()">
                              <div id="payment-spinner" style="width: 1rem; height: 1rem; border-width: 0.18rem; display: none;" class="spinner-border me-2" role="status">
                              </div>
                              <span id="payment-text">
                                Confirmar Compra
                              </span>
                            </button>
                          </div>
                      {{/if}}
                    </aside>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>